.params-menu{
    display: flex;
    align-content: center;
    box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.3);
    padding: 10px;
    height: 30px;
    line-height: 30px;
    background: #2288BB;
    color: white;
    h3{
        margin: 0;
    }
    label{
        margin-left: 25px;
        margin-right: 5px;
    }
    input, select{
        border: 1px solid #333;
        outline: none;
    }
    input{
        padding: 5px;
    }
}

.content{
    padding: 15px;
}

.fab-menu{
    position: fixed;
    right: 20px;
    top: 50%;
    ul{
        li{
            list-style: none;
            background: white;
            transition: all .3s;
            border-radius: 50px;
            box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.3);
            display: flex;
            .fab-form{
                transition: all .3s;
                width: 0px;
                opacity: 0; 
                display: flex;
                align-items: center;
            }
            
            &.active{
                box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.4);
                >button{
                    background: #22BB88;
                }
                .fab-form{
                    width: 300px;
                    opacity: 1;
                    padding: 5px 20px;
                }
            }
            >button{
                z-index: 10;
                background: #2288BB;
                color: white;
                border-radius: 50%;
                height: 60px;
                width: 60px;
                border: none;
                transition: all .3s;
                outline:none;
                cursor: pointer;
                svg{
                    fill: white;
                }
            }
        }
    }

}

.big{
    zoom: 2;
}
